.error-form
{
	color: red;
	font-size: small;
}

.professor-details
{
	min-height: 150px;
	background-color: #0d47a1;
}

.professor-details span
{
	color: white;
}

li.li-no-hover:hover {
    background-color: #0d47a1;
}

.professor-details .row {
    margin: 0;
}

.professor-details .col {
	line-height: normal;
	margin-bottom: 5px;
}

.professor-details .col a {
	line-height: normal;
	margin-top: 10px;
	height: auto;
	color: white;
}

.profile-picture
{
	margin-top: 20%;
}

li .active
{
	line-height: inherit;
}

.side-nav li.active
{
	line-height: inherit;
}

.vertical-aligned
{
	vertical-align: inherit;
}

.li-option
{
	vertical-align: middle;
	border-left: 2px;
	border-left-style: solid;
	border-left-color: black;

}

@media (min-width: 991px) {
    main {
        padding-left: 300px;
    }
}